<div class="sidebar" data-color="blue" data-background-color="white">
    <div class="logo"><a routerLink="/" class="simple-text logo-normal">
            Oldalnézetek
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" rouerLink="/">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" rouerLink="/product-list">
                    <i class="fa fa-home"></i>
                    <p>Products</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>