
<div class="row header-row">
    <div class="col-12 mt-2">
        <h1>Termék lista</h1>
            <div class="col-12">
                <button class=" btn btn-primary btn-block" [routerLink]="['product/'+0]">
                    <i class="fa fa-edit"></i>
                    Új termék hozzáadása
                </button>
            </div>
            <div class="form-group">
                <label for="filter">Filter</label>
                <input type="text" 
                class="form-control mr-sm-2" placeholder="search" (keyup)="onChangePhrase($event)">
            </div>
    </div>
</div>
<div class="row">
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th class="head" (click)="onColumnSelect('id')">id</th>
                    <th class="head" (click)="onColumnSelect('name')">name</th>
                    <th class="head" (click)="onColumnSelect('model')">model</th>
                    <th class="head" (click)="onColumnSelect('year')">year</th>
                    <th class="head" (click)="onColumnSelect('color')">color</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productList$ | async | filter:'name':phrase | sorter: columnKey">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.year }}</td>
                    <td>{{ product.color }}</td>
                    <td>
                        <div>
                            <button [routerLink]="['product/' + product.id]" class="btn btn-primary bg">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button (click)="setToDelete(product)" type="button" class="btn btn-danger bg" data-toggle="modal" data-target="#deleteModal">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
    
            </tbody>
        </table>
    
</div>




<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this product?</p>
                <p>#{{ selectedProductToDelete.id }}</p>
            </div>
            <div class="modal-footer">
                <button (click)="deleteItem()" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>